.row{
  padding: 1%;
  color:darkblue;
}
.container{
  padding:2%;
  margin-top: 6%;
  text-align: center;
}
.text-primary{
  font-weight: bold;
}
.badge{
  height: 30px;
  font-size: 15px;
  text-align: left;
  padding:6px;
  margin: 2px;
}
.jumbotron{
  padding: 7%;
  text-align: left;
  align-content: flex-end;
}
