<app-title></app-title>
<div class="container" style="margin: 2%;">

  <div class="row">
<!--        <div class="sm-2"></div>-->

    <div class="col justify-content-center" >
<!--        <div class="sm-2"></div>-->
            <!-- photo -->

            <div class="jumbotron" >
                    <!-- <h2 class="kavindu text-primary" style="text-align: center;">Hi, I'm Kavindu</h2> -->
                    <img src="./../../assets/kavindu-gayantha.jpg" width="300px" height="300px" style="border-radius: 50%;"  id="myphoto" alt="myself">
                <div class="card-body">
<!--                    <div style="padding-left:2%"><a href="https://drive.google.com/file/d/1oTjEXg49xJmTGuyKeJPSonE_rPG-8YlH/view" class="btn btn-primary" download="https://drive.google.com/file/d/1oTjEXg49xJmTGuyKeJPSonE_rPG-8YlH/view">Download my CV</a>-->
<!--                    </div>-->
                        <!-- <h6 class="card-title">follow me on</h6> -->
<!--                <p class="card-text">-->


                <div class="row">
                  <div class="col">
<!--                    <button (click)="onClickFacebook()">btn</button>-->
                    <button (click)="onClickLinkedin()" class="btn btn-outline-primary btn-block ">LinkedIn</button>
                  </div>
                  <div class="col">
                    <button (click)="onClickGithub()" class="btn btn-outline-primary btn-block ">GitHub</button>
                  </div>
                </div>
                  <div class="row">
                    <div class="col">
                      <button (click)="onClickFacebook()" class="btn btn-outline-primary btn-block ">Facebook</button>
                    </div>
                    <div class="col">
                      <button (click)="onClickMedium()" class="btn btn-outline-primary btn-block">Medium</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <button (click)="onClickYoutube()" class="btn btn-outline-primary btn-block ">Youtube</button>
                    </div>
                    <div class="col">
                      <button (click)="onClickStack()" class="btn btn-outline-primary btn-block ">Stackoverflow</button>
                    </div>
                  </div>

                </div>

                </div>
            </div>
    <!--card ends  <div class="shadow-lg p-3 mb-5 bg-white rounded">Larger shadow</div>-->

</div>
</div>
