<app-title></app-title>
<div class="container" style="margin: 2%;">
      
  <div class="jumbotron" style="background-color:rgb(6, 42, 75); padding-top:10px; padding-left:28px; " >
                    
    <div class="row">
        <div class="sm-2"></div><div class="col-5 sm-8 justify-content-center" style="justify-content:center;"><div class="sm-2"></div>
            <!-- photo -->
            
            <div class="card bg-transparent" style="width:18rem; align-content: center;">
                    <!-- <h2 class="kavindu text-primary" style="text-align: center;">Hi, I'm Kavindu</h2> -->
                    <img src="./../../assets/walpaper.jpg" style="border-radius: 50%;" class="card-img-top" id="myphoto" alt="myself">
                <div class="card-body">
                    <div style="padding-left:2%"><a href="https://drive.google.com/file/d/1oTjEXg49xJmTGuyKeJPSonE_rPG-8YlH/view" class="btn btn-primary" download="https://drive.google.com/file/d/1oTjEXg49xJmTGuyKeJPSonE_rPG-8YlH/view">Download my CV</a>
                    </div>
                        <!-- <h6 class="card-title">follow me on</h6> -->
                <p class="card-text">
                    <table>
                        <!--  -->
                        <tr class="row">
                            <td class="col"><a href="https://www.facebook.com/profile.php?id=100008929308296" class="fa fa-facebook"></a></td>
                            <td class="col"> <a href="https://www.linkedin.com/in/kavindu-gayantha-73478615b/" class="fa fa-linkedin"></a></td>
                            <td class="col"><a href="https://medium.com/@96kavindugayantha" class="fa fa-medium "></a></td>
                            <td class="col"><a href="https://github.com/Kavindu-Gayantha" class="fa fa-github"></a></td>
                            <td class="col"> <a href="https://stackoverflow.com/users/9173526/kavindu-gayantha" class="fab fa-stack-overflow"></a></td>
                           
                            <td class="col"><a href="https://www.youtube.com/channel/UC6RVPaqYWHRwBDpl7RFRrdg?view_as=subscriber" class="fa fa-youtube"></a></td>
                        </tr>
                    </table>  
                
                <div>
                    <button onclick="visibleAbout();" class="btn btn-outline-primary btn-block ">About</button> 
                    <button onclick="visibleEducation();" class="btn btn-outline-primary btn-block ">Education</button>
                    <button onclick="visibleProject();" class="btn btn-outline-primary btn-block ">Projects</button>
                    <button onclick="visibleAchievements();" class="btn btn-outline-primary btn-block">Achievements & Awards</button>
                    <button onclick="visibleExtra();" class="btn btn-outline-primary btn-block ">Extra curicular Activities</button>
                    <button onclick="visibleContact();" class="btn btn-outline-primary btn-block ">Contact me</button>

                </div>
    
                </div>
            </div> <!--card ends  <div class="shadow-lg p-3 mb-5 bg-white rounded">Larger shadow</div>-->
        </div>
</div>
