.row{
  padding-top: 3%;
  color:darkblue;
}
.container{
  padding:2%;
  margin-top: 6%;
  text-align: center;
}
.text-primary{
  font-weight: bold;
}
.jumbotron{
  padding: 7%;
  text-align: left;
  align-content: flex-end;
}
