<div class="container">
  <h1 class="text-primary">About Me</h1>
  <div class="row">
    <div class="col">
      Hello there I'm Kavindu Gayantha ,
      I am an enthusiastic individual who is eager to learn new things
      perpetually while getting myself up-to-date with cutting edge technologies.
      I am good at being a team player as well as leading a team. I am more keen on Web development,
      Mobile Development, and Data Science, and seek an opportunity related to one of these areas.
    </div>
  </div>
  <div class="row">
    <div class="col">
      Phone :
    </div>
    <div class="col">
      <div class="row">
        <div class="col">+94 76 027 3663</div>
      </div>
      <div class="row">
        <div class="col">+94 71 87 32730</div>
      </div>

    </div>
  </div>
<!--  <div class="row">-->
<!--    <div class="col"></div> <div class="col">+94 71 8732 730{ whatsapp }</div>-->
<!--  </div>-->
  <div class="row">

  </div>
</div>
